/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container{
  padding: 5%;
}

.mat-card{
  padding: 3px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}


.mat-menu-item:hover .mat-icon{
  color: purple;
}

.example-spacer {
  flex: 1 1 auto;
}

/* Checked state */
.custom-button-toggle.mat-button-toggle-checked {
  background-color: #e73124ad; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
}

.center-cell {
  width: 80px;
  display: flex;
  flex-direction: inherit;
}

.mat-form-field-outline-start, .mat-form-field-outline-end {
  border-radius: 0 !important;
}
